.FormSection__Title {
  font-size: var(--fs-four);
  font-weight: var(--fw-tri);

  margin-bottom: 1.25em;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.inputField__labelName {
  font-weight: var(--fw-tri);
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: column;

  gap: 1.25em;
}

.userInfo__textBox {
  border: none;
  border: 1px solid #b9b9b9;
  padding: 0.55em;

  border-radius: 5px;
}

.userInfo__Name {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.BtnsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.BtnsContainer > .btnContainer_SkipBtn {
  order: 1;
  background-color: var(--col-acc-prmy);
}

@media screen and (min-width: 800px) {
  .userInfo__Name {
    flex-direction: row;
    justify-content: space-between;
  }

  .BtnsContainer {
    flex-direction: row;
  }

  .BtnsContainer > .btnContainer_SkipBtn {
    order: 0;
  }
}
