.btn {
  border: none;
  padding: 0.75em 2.25em;
  background-color: var(--col-acc-sec);
  color: var(--col-text-sec);

  border-radius: 10px;

  font-weight: var(--fw-tri);

  cursor: pointer;
  width: 100%;
  align-self: flex-end;
}

@media screen and (min-width: 800px) {
  .btn {
    width: inherit;
  }
}
