.previewPokemon {
  padding: 1em;
  border-radius: 10px;
  background-color: hsl(163, 54%, 54%);
}

.previewPokemon__Name {
  font-size: var(--fs-sec);
  font-weight: var(--fw-tri);
  color: var(--col-text-sec);

  text-transform: capitalize;

  margin-bottom: 0.25em;
}

.previewPokemon__TypeGroup {
  display: flex;
  gap: 1.25em;
}

.previewPokemon__Type {
  border-radius: 15px;
  color: var(--col-text-sec);
  background-color: hsl(163, 59%, 36%);
  text-align: center;
  padding: 0.25em 1em;
}

.previewPokemon_img {
  margin: 0 auto;
  width: 40%;
}

.pokemonTypeLstCon {
  height: 200px;
  overflow-y: scroll;

  margin: 1em 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.pokemonTypeLst {
  background-color: var(--col-acc-prmy);
  color: var(--col-text-sec);

  padding: 1em;
  border-radius: 10px;

  cursor: pointer;
}

.pokemonTypeLst__Text {
  margin-left: 1em;
  text-transform: capitalize;
}

.ShakeAnimation {
  animation-name: shake;
  animation-duration: 0.25s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 3;
}

@keyframes shake {
  from {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(10px);
  }

  to {
    transform: translateX(-10px);
  }
}
