.reviewSection__Title {
  font-size: var(--fs-four);
  font-weight: var(--fw-tri);

  margin-bottom: 1.25em;
}

.reviewSection {
  display: flex;
  flex-direction: column;

  gap: 1em;
}

.reviewItem {
  display: flex;
  flex-direction: row;
  gap: 1em;

  justify-content: space-between;
}

.reviewItem__Label {
  font-weight: var(--fw-tri);
}
